// .testcard {
//   width: 25rem;
//   height: 30rem;
//   background-color: rgb(192, 178, 178);
//   position: relative;
//   border-radius: 0.3rem;
//   overflow: hidden;
//   transition: transform 0.3s ease;
// }

// .testimg {
//   width: 100%;
//   height: 100%;
// }

// .testcontent {
//   width: max-content; // Very Very Important Property
//   background-color: rgb(247, 247, 247);
//   color: rgb(41, 41, 41);
//   padding: 2rem;
//   position: absolute;
//   top: 73%;
//   left: 2%;
//   transform: translateX(-140%);
//   transition: transform 0.3s ease;
// }

// .testcard:hover {
//   .testcontent {
//     transform: translateX(8%);
//   }
// }

// .testsize {
//   font-size: $h1_test;
// }

// .p_test {
//   font-size: $p_test !important;
// }

.testheader {
  height: 10rem;
  background-color: rgb(247, 247, 247);
}

.mob_nav {
  transition: all 0.3s ease-in;
}

// ******************************************

// Header Css
.testli {
  list-style-type: none;
  display: flex;
  margin: 0 !important;
  width: max-content;
  padding: 0;
}

.testli li {
  padding: 0.3rem 2rem 0.5rem 2rem !important;
}

.testli a {
  text-decoration: none;
}

.current-menu-item > a {
  color: #000 !important;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.705)
  );
}

// Tags Widgets and Forms Css
.mes_tag li {
  list-style: none;
  padding: 0 !important;
}

.mes_tag ul {
  padding: 0 !important;
  margin: 0 !important;
}

.mes_tag a {
  text-decoration: none;
  font-size: 1.5rem;
}

.widget {
  list-style: none;
  margin-bottom: 2rem !important;
}

.searchform label {
  display: none;
}

.searchform input {
  border: 1px solid #eee;
  padding: 0.4rem;
}

.widgettitle {
  font-size: 2.4rem;
  font-weight: 500;
}

#searchsubmit {
  background-color: brown;
  color: #fff;
}

.screen-reader-text {
  content: "";
}

.cat-item {
  list-style: none;
}

/* Categories Styles */

.rcard_tag ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.rcard_tag a {
  text-decoration: none;
  font-size: 1.6rem;
}

// Category end

.rcard_cat ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5rem;
  padding: 0.1rem !important;
  margin-bottom: 0.1rem !important;
}

.rcard_cat ul li a {
  font-size: 1.3rem;
  background-color: #fcd752;
  text-decoration: none;
  padding: 0.4rem 0.7rem;
}

@media screen and (max-width: 780px) {
  .testli {
    flex-direction: column;
  }
}

// Header Css
