//  Font Colors

// Site Colors
// $primary_clr: #7e89fd;
// $secondary_clr: #ffc933;
// $tertiary_clr: #3945ba;
// $fourth_clr: #052635;
// $fivth_clr: #f0f4ff;
// $sixth_clr: #f00d00;

$primary_clr: #7e89fd;
$secondary_clr: #ffc933;
$tertiary_clr: #3945ba;

$font_clr: #191919;
$bg_clr: #f0f4ff;
$cta_clr: #f00d00;

// Component Color
$btn_bg_clr: brown; // button Background Color
$btn_clr: rgb(255, 255, 255); // button Color

$blq_clr: rgb(238, 238, 238); // Bloquote Color

$a_clr: brown; // Anchor Color
$a_clr_hover: rgb(22, 22, 22); // Anchor Color


.fff {
  color: #fff !important;
}

.dim {
  color: rgb(131, 131, 131);
}
.diml {
  color: rgb(117, 117, 117);
}
.dimd {
  color: rgb(78, 78, 78);
}
.wht {
  color: #fff;
}
